
<div class="container">

  <div class="row">
  <div class="col-12 content-center">
    <div class="alert alert-primary">
      valid=>{{addNationalIdForm.valid}}<br>
      invalid=> {{addNationalIdForm.invalid}}<br>
      value=> {{addNationalIdForm.value|json}} <br>
      touched=>{{addNationalIdForm.touched}}<br>
      errors=> {{addNationalIdForm.errors|json}}
    </div>
    <form [formGroup]="addNationalIdForm" (ngSubmit)="addNationalId(addNationalIdForm)">
      <div class="mb-3 mt-3">
        <label for="NationalId" class="form-label">NationalId:</label>
        <input type="text" class="form-control" id="NationalId" placeholder="Enter NationalId"  NationalId="NationalId" formControlName="NationalId" >
      </div>
<div >
  {{NationalId?.errors|json}} <br>
</div>

<div *ngIf="NationalIdNumber()">number only</div>
<h1>Open this select menu</h1>
        <select class="form-select" aria-label="Default select example" id="type" name="type" formControlName="type">
          <option value="doctor">doctor</option>
          <option value="nurse">nurse</option>
        </select>
        <div >
          {{type?.errors|json}}

          <h1>Open this select department</h1>
          <select class="form-select" aria-label="Default select example"  id="department" name="department" formControlName="department">
            <option  value="doctor">Open this select menu</option>
            <option *ngFor="let item of all" value={{item._id}}>{{item.name}}</option>
          </select>


          <div *ngIf="handleD()">add doctor or nurse only</div>

        </div>


        <div class="mb-3 mt-3">
          <label for="description" class="form-label">description:</label>
          <input type="text" class="form-control" id="description" placeholder="Enter description"  name="description" formControlName="description" >
        </div>



        <div class="mb-3 mt-3">
          <label for="VezeetaPrice" class="form-label">VezeetaPrice:</label>
          <input type="number"  class="form-control" id="VezeetaPrice" placeholder="Enter VezeetaPrice"  name="VezeetaPrice" formControlName="VezeetaPrice" >
        </div>


        <button type="submit" class="btn btn-primary">add</button>
      </form>



    </div>
</div>
</div>
